[2015-04-23 16:27] sindresorhus opened #5 "Wishlist"
Comment here if there's anything you wish existed to make it easier to create apps with Electron. Can be components, tools, docs, etc. Or any apps you wish existed.

Comment if you started working on any of the wishes.

[2015-04-24 16:05] ducky427 opened #7 "Is there interest in Electron App built with Clojurescipt"
This is a great [example](https://github.com/oakmac/cuttle) of an app built with Clojurescript using Electron.

[2015-04-26 08:45] sindresorhus commented on #7
added in https://github.com/sindresorhus/awesome-electron/commit/e3b3f836b1ce195935404a57a1e17d941d8b9da6

[2015-04-26 08:45] #7 closed

[2015-04-26 08:47] ducky427 commented on #7
Thank you!

[2015-05-06 03:42] staygrimm commented on #5
I'd love to see a guide or a simple example on getting CI working

[2015-05-06 09:50] sindresorhus commented on #5
@staygrimm Getting CI working how? Can you be more specific on what you're looking for?

[2015-05-06 12:56] RangerMauve commented on #5
Bluetooth libraries that would work with it cross-platform would be amazing.

[2015-05-06 16:08] staygrimm commented on #5
@sindresorhus Sorry I specifically mean the process of installing Electron on a provider such as Travis and running tests inside a headless Electron.

I've found this repo: https://github.com/atom/ci but the process is somewhat convoluted, requiring the use of APM, atom package manager.  Also, CoffeeScript.  I'd really love to figure out how to get Travis working in a simpler manner, using only np

[2015-05-06 16:31] maxogden commented on #5
I got electron working headlessly on ubuntu here: https://github.com/moose-team/peerbot

i'm not sure travis would let you run `xvfb` though

[2015-05-06 16:31] maxogden commented on #5
@RangerMauve you can use `noble` and `bleno` from npm with electron. they work in OSX and Linux. not sure what the windows story is

[2015-05-06 16:59] RangerMauve commented on #5
@Maxogden yeah, I've been following both of those. The issue is that Windows is important for what I'm going to deploy. :'(

[2015-05-06 17:03] maxogden commented on #5
@RangerMauve gotcha. unfortunately theres nothing special about electron that will make bluetooth on windows any easier to build, since it is just io.js under the hood. so if theres any hope of bluetooth in electron it would have to come from modules like bleno/noble

[2015-05-06 17:10] RangerMauve commented on #5
@maxogden Yeah, I'm not well versed in Windows enough to do it myself yet, either. I was thinking that it might be possible to just cheese it and use an ffi library to call Windows APIs directly from JS. Alternately my hope is that it'll be [available in blink some day](https://github.com/WebBluetoothCG/web-bluetooth)

[2015-05-20 06:53] Tribex opened #23 "Vivaldi is electron-based?"
I took a quick look at the inside of the Vivaldi deb file, and the file layout seems considerably different from electron's. The executable itself is tiny and libnode and such are missing.

Where exactly is it mentioned that Vivaldi is based on electron? Just wondering, as I'm sure we don't want to mislead people.

[2015-05-20 19:53] #23 closed

[2015-05-20 19:53] sindresorhus commented on #23
I guess you're right. I should have used better sources:

http://stackoverflow.com/tags/atom-shell/info
http://www.meetup.com/Electron/pages/List_of_Products_Built_on_Atom_Shell/

[2015-05-20 23:19] Tribex commented on #23
Alright, thanks a lot!

[2015-06-05 15:57] justinmchase opened #33 "Package add suggestions"
There are a few projects you may want to add to your list:

[electron-builder](https://npmjs.org/packages/electron-builder)

[electron-updater](https://npmjs.org/packages/electron-updater)

I'm working on the updater module. It would be nice to have community endorsement / contribution.

[2015-06-05 16:55] sindresorhus commented on #33
Sure, can you do a PR?

https://github.com/sindresorhus/awesome-electron/blob/master/contributing.md

[2015-06-05 16:55] #33 closed

[2015-06-22 01:07] floydpink commented on #5
Why is [the "official" boilerplate](http://swara-app.github.io/swara-server/) left out of the ones this list?

[2015-06-22 01:08] sindresorhus commented on #5
@floydpink Wrong link?

[2015-06-22 03:22] floydpink commented on #5
Yes, that was a copy-paste accident - had corrected it immediately though: https://github.com/atom/electron-starter

[2015-06-22 07:18] msegundo commented on #5
Hi all,
do you have browserSync working?. Or other great reloader o live edition like: Amok.js, WebStorm Live editing, Budo Chrome...

[2015-06-22 11:34] sindresorhus commented on #5
@floydpink It's IMHO not a good starting point and it seems it's going to be changed a lot: https://github.com/sindresorhus/awesome-electron/pull/4#issuecomment-96404461

[2015-06-22 12:36] szymonkaliski commented on #5
@msegundo I have live-reloading without compilation step! https://gist.github.com/szymonkaliski/0b33c6031ce5679dc608

Also working great with electron! :)

[2015-06-22 12:39] sindresorhus commented on #5
@msegundo I think you can easily set up something like [`BrowserSync`](http://www.browsersync.io/). Electron is pretty much just a browser window.

// @shakyShane

[2015-06-22 18:06] msegundo commented on #5
@sindresorhus and @szymonkaliski thanks guys. I'm trying to get browserSync working but Electron don't reload. Clean cache is a great idea but in my case I need also HTML and CSS injection.

This recipe working inside Electron will be awesome: https://github.com/Browsersync/recipes/tree/master/recipes/html.injection

[2015-06-22 19:40] szymonkaliski commented on #5
@msegundo could you show us simplified version of code you're using? I don't have anything to share with you, but I remember I was able to set up browser-sync with electron pretty easily some time ago...?

[2015-06-24 02:20] mattdesl commented on #5
@msegundo for simple page reloading and live CSS injection, you could use budo -- [example](https://gist.github.com/mattdesl/d904cb2c7235cfabdbea). Or webpack-dev-server, or just [watchify](https://github.com/substack/watchify) and chokidar directly.

[2015-06-24 08:01] msegundo commented on #5
Thanks again @szymonkaliski. My problem is with the file protocol. My problem is with the file protocol. I don't want to use the server of browserSync to serve my files and I can't to configure the hostname properly and the connection between my app and browserSync can't be established.

[2015-06-24 08:22] szymonkaliski commented on #5
@msegundo but you are using http server, right? Look into `proxy` option for browserSync, I usually have express server running, and then browserSync proxying for live reload functionality.

[2015-06-24 08:37] msegundo commented on #5
@szymonkaliski that's the key, I am not using any http server. I am using the file protocol. Is a good practice to use a http server always?

[2015-06-24 08:42] szymonkaliski commented on #5
@msegundo I really doubt if browserSync can work with *files* and not http data... Using http server for Electron is usually a bad idea, you can do CSS injection yourself with websockets and file watcher, I'm not sure about html injection but should be possible as well. But this will require some work, so if you are in a hurry maybe doing http sever for dev is not a bad idea.
I also just stumbled

[2015-06-24 09:35] msegundo commented on #5
@szymonkaliski We get BrowserSync working with http server but only for development. We agree with you.

We are going to check electron-connect. Thanks a lot!

[2015-06-27 06:07] ryh opened #44 "fireball is open sourced"
[fireball - https://github.com/fireball-x/fireball/](https://github.com/fireball-x/fireball/)

[2015-06-27 09:36] #44 closed

[2015-07-14 17:21] TrevorJTClarke commented on #5
This list is great! I would suggest adding: https://github.com/paulcbetts/electron-compile

[2015-07-14 21:23] hashd commented on #5
We're working on a cross platform writing tool called Marvelous. https://github.com/hashd/Marvelous

It's still work in progress and we should hopefully have our first release for all 3 platforms by this month end.

[2015-07-23 18:35] brooksn commented on #5
I'd like to find snippets or discussion about achieving a native-feeling UI (esp. for OS X). For example, this [blog post about using an apple system font in the browser](http://furbo.org/2015/07/09/i-left-my-system-fonts-in-san-francisco/) isn't about electron, but I think it's relevant.

[2015-09-25 14:02] NaveenKarippai commented on #5
Hello @sindresorhus ,
What do you think about including a space in the README for ongoing projects that could help beginners to collaborate on? It could help newbies to have a look at the code of starter projects and contribute.

[2015-09-26 07:52] sindresorhus commented on #5
@NaveenKarippai Can you provde some examples of what that would be?

[2015-09-26 08:51] NaveenKarippai commented on #5
@sindresorhus For example, I have a noob project prototype built on electron ![hybrid-weather](https://github.com/NaveenKarippai/hybrid-weather) and I think if there is a list of such projects it would be useful for developers to collaborate and learn. What do you think?

[2015-09-28 09:01] sindresorhus opened #88 "Collaborate"
Post here if you have a project you want to collaborate on with someone. Could be an idea, something unfinished, something you need help on, or maybe you just want to teach someone. Open source is over-saturated these days, so make sure to sell your idea/project, why people should care, and what you're looking for.

[2015-09-28 09:02] sindresorhus commented on #5
I don't think a list is a good format for this. I instead opened an issue where people can post collaboration requests: https://github.com/sindresorhus/awesome-electron/issues/88

[2015-09-28 11:11] NaveenKarippai commented on #5
@sindresorhus sounds good!

[2015-09-28 11:19] NaveenKarippai commented on #88
Started an open source project built on *electron, AngularJS and Ionic framework*. The aim of this project is to help newbies learn hybrid technologies and build cross platform apps (desktop, mobile and web). Github repo : ![hybrid-weather](https://github.com/NaveenKarippai/hybrid-weather)

[2015-09-28 11:26] sindresorhus commented on #88
@NaveenKarippai Include what you're looking for.

[2015-09-30 11:36] NaveenKarippai commented on #88
updated! Thanks :+1:

[2015-10-02 04:53] rkpatel33 opened #94 "Idea -- Extensible PDF/Document viewer based on Electron"
Not  sure if this is the write place for this, but just putting an idea on the table that I would love to see -- creating an extensible PDF viewer based on Electron, possibly forked from Atom Shell the way Nylas is doing for email.

The hard part of rendering PDFs is already handled nicely by PDF.js, so it would be a matter of integration it into the Electron framework.

[2015-10-02 05:23] sindresorhus commented on #94
Can you also answer "why"? Why does this need to exist? What does extensible mean in this context?

[2015-10-02 06:49] ewnd9 commented on #94
I can think of extensions like popup translation of selected text or instant share quotes to twitter.

[2015-10-02 07:22] sindresorhus commented on #88
@NaveenKarippai I think it would help to open some specific issues on your repo with easy things people can help out with to get them started.

[2015-10-02 07:26] oiledCode commented on #94
So basically what you are saying is that you would like to collaborate to a project that develop the idea above? It wouldn't be better / easier to start this project yourself and use this https://github.com/sindresorhus/awesome-electron/issues/88 to ask for collaboration?

[2015-10-02 14:17] rkpatel33 commented on #94
I think this would be an interesting projec because, as bad as they are, lots and lots of docments are still exchanged, distributed, and consumed as PDFs, and the existing PDF readers out there are not that great to pretty aweful from a UX perspective. Acrobat Reader is the free standard, but if you want to do much to make changes to the document or annotate it, you have to purchase Acrobat Pro.

[2015-10-02 14:25] sindresorhus commented on #94
@rkpatel33 Thanks for the explanation. I'm convinced. Let's keep this open and hope for someone that's interested in doing this ;)

[2015-10-02 14:30] rkpatel33 commented on #94
Awesome, thanks!

[2015-10-02 17:13] mattdesl opened #95 "Module Management / Polyrepo GUI"
Lots of people are moving to more modular codebases, but the tooling hasn't yet caught up.

It would be great to have an Electron app for managing dozens or hundreds of modules of code. Some feature ideas:
- Viewing outstanding PRs/issues across many repos
- Batch processing and multi-module tasks:
  - transfer ownership, add collaborators
  - deprecation with message
  - renaming modules
  - upda

[2015-10-02 17:17] sindresorhus commented on #95
:+1: This need to exist! :)

[2015-10-03 03:51] yoshuawuyts commented on #95
I'm happy to churn out the tooling behind this; supporting a standalone cli + js api. What do you reckon should come after `polyrepo-update` ?

[2015-10-04 02:59] hughsk commented on #95
Maybe I'll take a stab at a UI :) @yoshuawuyts Central Park Open Source Day next week?

[2015-10-04 03:15] yoshuawuyts commented on #95
@hughsk :sparkles: yes! I'll probably be up in Sydney Tue - Fri so take your pick (':

[2015-10-04 03:22] yoshuawuyts commented on #94
If anyone wants to extend [vmd](https://github.com/yoshuawuyts/vmd) to support more document types / more features PRs are more than welcome :sparkles:

[2015-10-04 03:35] hughsk commented on #95
Swell! Let's do Wednesday :)

[2015-10-04 13:13] ahmadnassri commented on #95
certainly needed, happy to pitch in as well.

[2015-10-05 14:16] RnbWd commented on #95
I've been brainstorming something similar for months, it's why I'm following some of y'all on Twitter / Github. I haven't made much progress though... too many modules. Something like this would be very useful :)

The electron app could act as a proxy, organizer / automator / linter and ui for npm/Github. Just being able to know what modules are required in a file by hovering over a visual tree of

[2015-10-23 21:06] sindresorhus commented on #5
##### Request

`electron-window-state` - Need a library for storing and loading window state as Electron does not save/restore window size and position between loads.

More here: https://github.com/sindresorhus/module-requests/issues/9 (discuss there)

[2015-10-30 23:09] execat opened #124 "makeSingleInstance API in Electron renders Monogamous unnecessary"
According to the Monogamous README, this feature has been included in [Electron 0.34.1](https://github.com/atom/electron/releases/tag/v0.34.1). Monogamous doesn't serve much purpose anymore.

Remove it from the list?

[2015-10-31 06:36] #124 closed

[2015-11-10 02:31] zz85 commented on #5
Current Wish: Electron App Manager
(maybe somewhat related to #95 and https://github.com/atom/electron/issues/673)

Imho, Electron Apps are usually bloated because they package with their own node/chromium runtime (though I can understand why it is good at times). It is like an irony that SpaceRadar is about a hundred MB unzipped application for example. I think Chrome App approach can be pretty n

[2015-11-10 07:01] sindresorhus commented on #5
@zz85 What if two apps require two different versions of Electron and neither work on the other ones version? It's a good idea in theory, but comes with a lot of complications. Electron is still in active development and its API has changed many times, even removing whole APIs at times. I think this would be more feasible when Electron turns 1.0.0.

I personally prefer the current approach. Everyt

[2015-11-10 10:06] zz85 commented on #5
@sindresorhus I agree that there would be complications. However what I'm proposing isn't intended to change the way Electron is but rather an automation for the way I'm testing Electron apps, which is checking out the code, installing dependencies less Electron, and running the app through my global Electron.

While self-containment is nice, perhaps I've a slightly different view as I'm stingy wi

[2015-11-10 10:30] kokarn commented on #5
I must say i agree with @sindresorhus.
I think of this as applications, not just webpages. In that case 35MB is
nothing and even 100 or 200 is still really nothing at all.

And even SSDs are getting cheaper all the time so i don't really see that
as a point worth anything anyways :P

On Tue, Nov 10, 2015 at 11:06 AM Joshua Koo <notifications@github.com>
wrote:

[2015-11-10 12:05] parro-it commented on #5
What I would prefer is to have a way - as a developer - to install electron apps without [electron-prebuilt](https://github.com/mafintosh/electron-prebuilt) local dependency, and run them through my global installed `electron-prebuilt`.

That's beacuse when I install a node module (e.g. a command line tool) that require a node version I've not installed on my machine, npm doesn't install a new nod

[2015-11-10 18:54] zz85 commented on #5
Just wanted to mention that I've started on my wish with a very raw prototype https://github.com/zz85/electron-awesomeness - right now it is really simple but hopefully it gives a better idea on what I was thinking about. Feel free to try if it is useful and file any issues if necessary :)

![electron-awesomeness-2](https://cloud.githubusercontent.com/assets/314997/11072050/e9d7b73a-881e-11e5-9eda

[2015-11-18 20:56] varunagrawal opened #139 "Visual Studio Code is Open Source"
The README lists Visual Studio Code as Closed Source. Can you please update it to open source since the source of Code is on [Github](https://github.com/Microsoft/vscode)?

[2015-11-19 08:09] #139 closed

[2015-12-15 15:46] nextlevelshit commented on #94
@rkpatel33 Your idea is exactly what my project at university is going to be. Extensable PDF Viewer +1

[2015-12-22 08:05] parro-it opened #155 "Bad link for "The State of Electron""
It link to an Interstellar soundtrack song...

[2015-12-22 09:32] sindresorhus commented on #155
Oops. Fixed.

[2015-12-22 09:32] #155 closed

[2016-01-01 22:30] Thrilleratplay commented on #5
I would like to see an offline JSFiddle/Codepen clone.  Preferably with preprocessors and the option to export to a local directory, Github Gist or repo.  It would be a good tool to teach webdevelopment

[2016-02-08 04:45] progrium opened #180 "electron-largetype"
Not sure if this is awesome enough, so I'm submitting as an issue first:
https://github.com/progrium/electron-largetype

[2016-02-08 04:58] sindresorhus commented on #180
Sure, looks useful, but note in https://github.com/sindresorhus/awesome-electron/blob/master/contributing.md

[2016-02-08 04:58] #180 closed

[2016-02-09 14:12] progrium commented on #180
Hah, ok. Is that to make sure you reflect on what you made to see whether it is actually as cool as you thought when you made it?

[2016-02-12 16:17] ezekg commented on #5
@zz85, that's awesome.

[2016-03-04 15:12] electron0zero opened #199 "add new video"
this video is also a awesome video (talk) about electron
so i think this can be added in list of videos
title  : Cross-Platform Desktop Apps with Electron
link : https://www.youtube.com/watch?v=Xs3Oc4weZbw

[2016-03-06 06:20] #199 closed

[2016-03-17 11:07] asantos00 commented on #94
I'm thinking about making it. My idea is like an "ebook Reader" which will obviously support PDF, but I also want a shelf view, something to add "notes" to files, take snippets and make small "resumes".

If anyone is interested, send me a message! @yoshuawuyts If it fits your project I'm available to contribute too

[2016-03-17 11:28] yoshuawuyts commented on #94
@asantos00 having bookshelfs and notes might be slightly out of scope for `vmd`, but if you're looking to render all types of documents in Electron, having support for that in `vmd` would be grand!

[2016-03-17 11:33] ewnd9 commented on #94
@asantos00 you could also add `fb2` support via https://github.com/chitalka/reader

[2016-03-17 17:32] rkpatel33 commented on #94
@asantos00 That sounds pretty cool. FYI, this is my startup: https://www.docnavapp.com/

The core of the viewer is pdf.js and there is a lot of analysis of the PDF file that goes on on the backend in Python. I have considered making a true desktop version of this, it would solve a lot of problems for me, but it would require wrapping up the Python with it. Being able to make notes and take snippet

[2016-03-18 00:07] xwartz opened #215 "Getting more done in GitHub with ZenHub"
Hola! @xwartz has created a [ZenHub](http://www.zenhub.io) account for the **sindresorhus** organization. ZenHub is the leading team collaboration and project management solution built for GitHub.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.io?utm_source=ZHOnboarding)** and log in with your GitHub account.

[2016-03-18 00:08] #215 closed

[2016-04-08 16:44] gautamsi opened #229 "Built on Electron pull request and order of featured applications"
I have noticed people make pull request to add their icon on top of the row. I keep checking regularly on what's new on the list. It is difficult to keep track of icons getting here and there each time someone adding it.

May I propose
1.Featured Section: where only known developers like Microsoft Facebook and other big names can put pull request. Electron team can arrange them however you like.
2

[2016-04-08 16:55] parro-it commented on #229
Contribution guidelines already contains a rule that state that new contribution must be appended at the end of a section

Regarding featured section, I think that could be difficult to maintain...

[2016-04-15 12:36] aluxian opened #238 "Any recommendations for GUI testing frameworks?"
So far, I've found these two:
- http://www.testplant.com/
- http://robotframework.org/

But I don't have any experience with them or desktop GUI testing frameworks in general. Does anyone test their Electron apps?

[2016-04-15 14:28] z-ax commented on #238
Our team uses SikuliX.

[2016-04-15 14:33] Aluxian commented on #238
Thanks, do you have it running on a CI? Is your app open source?

-- 
Alexandru Rosianu
Full-Stack Developer
aluxian.com | startersquad.com

On 15 April 2016 at 17:29:17, Dmytro (notifications@github.com) wrote:

Our team uses SikuliX.

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub

[2016-04-19 08:46] sindresorhus commented on #229
Done in https://github.com/sindresorhus/awesome-electron/commit/bbe010216684154d81f8a7d7089b65583bf898ca

[2016-04-19 08:46] #229 closed

[2016-04-20 22:29] zeke opened #245 "npm install awesome-electron"
@sindresorhus I'm thinking of building a JSON tree from the contents of README.md. Would you be interested in a PR that makes this repo a `require`able npm module that exports that tree?

[2016-04-26 14:47] deksden opened #248 "[feature] books section"
https://leanpub.com/electron

[2016-04-26 15:01] sindresorhus commented on #248
I dunno. It's a bit outdated. Last updated a year ago. There has been considerable changes to the Electron API since then. Not sure we're doing users any favors providing outdated knowledge. It's also riddled with typos. I think https://medium.com/developers-writing/building-a-desktop-application-with-electron-204203eeb658#.tkcxckxki is a much better intro to Electron.

[2016-04-26 20:41] zeke opened #250 "Add other electron maintainers"
Hey @sindresorhus would you mind giving my colleagues @jlord and @kevinsawicki access to this repo, so they can help maintain as necessary?

I've added the four of us as owners of the npm package:

[code]

[2016-04-26 20:43] sindresorhus commented on #250
Done :)

[2016-04-26 20:43] #250 closed

[2016-04-28 09:17] deksden commented on #248
Maybe! Did you know any other books on subject?

[2016-04-28 09:48] sindresorhus commented on #248
Not really. We can add a Books section if someone proposes another book ;)

[2016-04-28 09:48] #248 closed

[2016-04-29 12:58] Rafaelgfirmino opened #251 "add haroopad"
https://github.com/rhiokim/haroopad

[2016-04-29 13:30] sindresorhus commented on #251
It's using NW.js, not Electron.

[2016-04-29 13:30] #251 closed

[2016-05-01 00:21] imlucas commented on #238
https://github.com/electron/spectron

Simple. Powerful. Works great.

[2016-05-01 05:01] Aluxian commented on #238
@imlucas Do you know any open source apps using it? Or some examples? Thanks!

[2016-05-01 05:03] Aluxian commented on #238
@imlucas which of the following is Spectron able to do?

- unit tests
- integration tests
- functional/end-to-end tests

[2016-05-01 15:02] sindresorhus commented on #245
I assume this can be closed now?

[2016-05-02 21:48] imlucas commented on #238
@Aluxian spectron is for end-to-end tests (behind the scenes, it's using selenium).

For unit and integration tests, we use https://github.com/jprichardson/electron-mocha

[2016-05-06 00:18] philfreo commented on #5
I'd love to see an example (code & UI) of an Electron app that has good find-on-page / on-page-search like Chrome does with cmd-f/ctrl-f. I saw in https://github.com/electron/electron/issues/2037 that it's not supported natively in Electron however that there are some [methods](https://github.com/electron/electron/blob/master/docs/api/web-contents.md#webcontentsfindinpagetext-options) that should

[2016-05-11 11:59] winnchen commented on #5
I would like to enable page search(ctrl+f) in application.

[2016-05-12 19:50] #245 closed

[2016-06-03 17:04] hasusuf commented on #5
+1

[2016-06-10 16:06] pendar747 commented on #94
I think having an app that has both ability to view file system pdf files and files loaded from url + library + note/annotation and extensibility with plugins would be great.
Right now there are a lot of research apps like mendeley which lock you in and force you to upload all your files to their cloud, so it nice to have some open source effort

[2016-07-03 20:56] YurySolovyov commented on #88
I wonder how feasible it is to write basic 2-panel file manager? I'm a bit tired of Total commander, and I use only a small subset of its features, at work I use Nautilus, and it is not that great either.

[2016-07-04 03:51] ingorichter commented on #88
I was thinking about the same for a while now. There is nothing great on OSX either and I'm more than willing to get it going.

[2016-07-04 06:37] YurySolovyov commented on #88
@ingorichter, awesome, I'll try to came up with something later this week and post link here.

[2016-07-04 09:03] ShivangiGa opened #307 "The Respose of Electron App is very slow"
Electron version:0.37.2
Operating system:Windows

I have created an electron app as a wrapper of a website.
Below is the code:
Dev Package.json:
{
"devDependencies": {
"electron-builder": "^3.27.0",
"electron-prebuilt": "^0.37.2"
},
"build": {
"app-bundle-id": "EnterpriseSearch",
"app-category-type": "public.app-category.productivity",
"ignore":"node_modules/electron-osx-sign-tf,node_modules/archi

[2016-07-04 09:10] sindresorhus commented on #307
This is not the Electron issue tracker.

[2016-07-04 09:10] #307 closed

[2016-07-04 09:13] ShivangiGa commented on #307
Not able to understand the comment. Is it not the right place to raise the issues we are facing in developing an electron app?

[2016-07-04 20:31] sbruchmann commented on #307
@ShivangiGa This repository lists applications that are built with electron, among a few other things. The issue tracker for the electron **framework** is located at [electron/electron](https://github.com/electron/electron/issues).

But looking at the problem at hand, it is not an issue with electron itself. You might want to [seek help in the official discussion forum](https://discuss.atom.io/c/e

[2016-07-06 15:11] YurySolovyov commented on #88
@ingorichter Created [eion](https://github.com/YurySolovyov/eion), very raw ATM, mostly just boilerplate (couldn't get hot module reloading working, but there is plain F5 reloading working), but shows current dir contents, planning to work on it on weekend. Not to spam anymore: [gittter room](https://gitter.im/YurySolovyov/eion)

[2016-08-04 11:30] bennyn opened #330 "Sort alphabetically"
The [Other](https://github.com/sindresorhus/awesome-electron#other) list became quite long. Maybe it's worth it sorting projects alphabetically?

[2016-08-04 11:32] sindresorhus commented on #330
I don't really see any benefit with doing that (https://github.com/sindresorhus/awesome/issues/548#issuecomment-189576619). I would however be open to adding some categories.

[2016-08-11 14:56] #330 closed

[2016-09-30 10:25] bhanuc commented on #94
Not sure if it helps anyone but I had created a pdf.js based viewer in electron but I am not able to give it much time due to my other commitments. You can check it at http://logophile.github.io .

[2016-09-30 10:35] asantos00 commented on #94
Seems pretty cool. I'm having the same problem, I have a lot of ideas but
so little time to execute them, this PDF reader I talked about in this
thread is one of them.

If I have the time to start it I will probably contribute to your project
instead of creating mine from scratch, good job!

Are you thinking about doing some documentation?

Regards

*Alexandre Miguel Portela dos Santos*

*e-mail:*

[2016-09-30 10:41] parro-it commented on #94
:+1: The site is really nice @bhanuc (the github band on the corner is partially covered by the header by the way).

[2016-10-03 23:56] bhanuc commented on #94
Thanks for the kind words. I was supposed to create a documentation but I
am not sure the direction it would go into.
The interface is kinda inspired by the web kindle reader ui which is an
easy application to follow.
For the website issue, if interested kindly open a pull request, otherwise
I can fix it.
I am really looking forward to any kind of help in the project.

On 30 Sep 2016 16:11, "Andre

[2016-10-17 02:55] bhanuc commented on #94
@asantos00 @parro-it  Have updated the project and linked the dev documentation to the project. Looking for more constructive feedback or support in the project.

[2016-10-31 00:03] mifi opened #375 "LosslessCut - Simple tool for quick and lossless rough edits of raw videos"
Nothing big, but i thought it might qualify. I just made this simple video editor for super quickly discarding useless parts from big raw video files from video cameras/drones etc without re-encoding. It's based on Electron and React and uses ffmpeg (not included) for the processing. I'm aware of the 20 day wait time, so I'll just put it here to maybe see if people find it useful.

https://github.

[2016-11-03 04:09] sindresorhus opened #378 "Share your project here"
This is a place to share your project to get feedback from people before it's ready to be submitted to this list. Feel free to also submit ideas for projects, early drafts, etc.

Present your project, link to it, why you think it's useful/cool, and what kind of feedback you're looking for.

**Constructive criticism and niceness is expected ❤️**

[2016-11-03 04:11] sindresorhus commented on #375
Looks useful. I've created a new thread for people looking for feedback. Can you post here instead: https://github.com/sindresorhus/awesome-electron/issues/378 ;)

[2016-11-03 04:11] #375 closed

[2016-11-03 12:47] mifi commented on #378
Nothing big, but i thought it might qualify. I just made this simple video editor for super quickly discarding useless parts from big raw video files from video cameras/drones etc without re-encoding. It's based on Electron and React and uses ffmpeg (not included) for the processing. I'm aware of the 20 day wait time, so I'll just put it here to maybe see if people find it useful.

https://github.

[2016-11-03 13:32] MarshallOfSound commented on #378
Electron ships `ffmpeg` libraries can't you use those?

[2016-11-03 13:43] mifi commented on #378
Yes but it's native code and I don't know how to access them from JS, also whether the included ffmpeg version is recent enough and has all the features needed for muxing/demuxing/cutting etc. However I'm thinking about bundling ffmpeg into the release bundle.
See also https://github.com/mifi/lossless-cut/issues/3

[2016-11-26 22:43] michaeljota commented on #378
I made a plugin for Webpack to generate the package for the Electron project, based on the package on your own project.

[electron-package-plugin](https://www.npmjs.com/package/electron-package-plugin)

Also, I made a starter-like repo, with Angular2 and Electron, both being packaged with Webpack

[angular2-ultimate-starter](https://github.com/michaeljota/angular2-ultimate-starter)

[2016-11-27 09:23] KELiON commented on #378
Awesome, this is what I need now!

I'm working on open source alternative to Spotlight/Alfred: https://github.com/KELiON/cerebro.

#### Why?
– Free/open source, not for 19 pounds like Alfred powerpack;
– Easy extendable (not like Spotlight);
– Easy customizable;
– Show preview for results, like in spotlight (in Alfred you can't extend your plugin to show more, than line of text);

#### What kind o

[2016-11-27 10:04] sindresorhus commented on #378
@KELiON Awesome!

See [`dext`](https://github.com/vutran/dext) for different take on it.

I use Alfred daily, so I think I can give some useful feedback:

- My main use-case is launching apps. I use Alfred because it's fast. If you want to be an alternative you need to be able to search and launch apps blazingly fast and with good heuristics (prioritizing most used apps, for example, letting me ju

[2016-11-27 10:04] sindresorhus commented on #378
// @SamVerschueren

[2016-11-27 20:13] SamVerschueren commented on #378
Thanks for the mention @sindresorhus !

I use Alfred as my daily driver as well. I started using it because of [alfred-npms](https://github.com/sindresorhus/alfred-npms) as it just saves me so much time every day! Then I started creating my own plugins with Alfy.

The UI of Alfred is pretty basic. You basically only have a list of items, nothing more, nothing less. I totally agree with Sindre on t

[2016-11-27 21:49] michaeljota commented on #378
@KELiON have you check [hain](https://github.com/appetizermonster/hain) yet?

[2016-11-28 13:33] KELiON commented on #378
Thanks for feedback, @sindresorhus! Awesome idea about `npm publish` for packages. Also, going to switch to electron-builder.

@michaeljota Yes, I've checked, but only images/gifs, because I don't have windows. So, idea almost the same, but I'd like to do everything much easier and more user-friendly. Did you use it? Can you share some feedback about it?

[2016-11-28 13:53] michaeljota commented on #378
@KELiON I did use it, but I don't really see any advantage, in Windows at least. Windows search, and Cortana, works pretty well, and just have to press `Windows key`.

Anyway, I see it's the same idea, just search something and open it, regardless it is a file, folder, program, website, anything. It works, and does it well.

Also, it have an open issue for Mac support. appetizermonster/hain#201

[2016-12-04 00:24] sidneys commented on #378
![macOS](https://raw.githubusercontent.com/sidneys/desktop-dimmer/release/resources/screenshot-01.png)
<p align="center">
  <b>Desktop Dimmer</b>
</p>

[Desktop Dimmer](https://github.com/sidneys/desktop-dimmer) was created to allow dimming Displays beyond their native lowest brightness by using overlays. For many Developers, this is essential for nighttime work with external displays. The require

[2017-01-03 07:13] Sarah-Seo commented on #378
Hi, I'm making a note app :memo: looks like macOS default app, Notes, but supports GFM :octocat:  and Latex :woman_student:.

![screen shot 2017-01-03 at 15 59 58](https://cloud.githubusercontent.com/assets/23196011/21601421/d07cd4b0-d1cd-11e6-8d43-ceead9fb0f4d.png)

- [Repository](https://github.com/Sarah-Seo/Inpad)
- [Homepage](https://sarah-seo.github.io/Inpad/)
- [Download](https://github.com/

[2017-01-09 06:57] Unchosen opened #410 "Another awesome electron-related podcast"
Hey,

There's another podcast episode with Jessica Lord talking about electron and how it came to be.
This time on "NodeUp: A Node.js Podcast" (NodeUp is already on [awesome-nodejs](https://github.com/sindresorhus/awesome-nodejs) list)
"onehundredseven - 1:1 w/ Jessica Lord" [http://nodeup.com/onehundredseven](http://nodeup.com/onehundredseven)

I listen to these NodeUp podcasts, and this episode

[2017-01-09 17:30] #410 closed

[2017-01-20 20:48] DavidMellul commented on #378
<strong>Hi !</strong>  ❤️

I've been working on Opale-Messenger which is  a personal project I made for a friend and for training web technologies.

It looks like Caprine in the way it's a wrapper for Messenger, but it adds a bubble which you can interact with. <br />
I believe this bubble, Android-like, is very useful and  very cool to use. It enables multi-tasking for the user and it enables sav

[2017-01-26 05:23] sindresorhus commented on #378
@DavidMellul I like the idea of imitating the Android FB bubble, but your app is missing an important aspect of it. On Android, the bubble only shows up for new messages and you can easily discard it by swiping. It also shows on bubble for each conversation, and the conversation opens right there around the bubble and you can start writing. Your bubble is always visible and in the way. I tried hid

[2017-01-31 15:58] dkniffin commented on #378
Not my project, but it looks like the new version of https://github.com/evolus/pencil/ is being built with electron.

[2017-01-31 16:02] dkniffin commented on #5
I'd _love_ to see an image editor built in electron. At the moment, I need something like inkscape (vector/svg editor), but something akin to gimp (raster/jpg/png editor) would also be cool. I know these are very complicated tools, but to be quite honest, the open source ones out there right now are crap.

[2017-02-24 18:08] PhillMcKraken commented on #378
Well not to add _another_ boilerplate to the mix, but here's a boilerplate I spent a few days working on: https://github.com/PhillMcKraken/basic-electron-react-boilerplate

Looking at all the current ones I could find, I had a few issues:
* Heavy Handed (did a lot more than just included a basic environment to get started with React)
* Put their twist on layout/structure for application logic
* Us

[2017-03-01 15:10] chadbr opened #432 "electron forge"
you might add https://github.com/electron-userland/electron-forge

It's the new wizz bang generator...

[2017-03-05 01:30] RoyalBingBong commented on #378
I'm a bit of a data hoarder and save a lot of jpg, png, gif, webm and mp4, that I find on reddit and co. Viewing those is a bit of a pain, because the usual image viewing applications can not display webm or mp4 (at least not in a nice way) and video player don't handle images that well...
And here comes **meView**: An image and video viewer to view all those filetypes seamlessly in one applicatio

[2017-03-13 09:29] z-ax commented on #378
Wrote **PackDir** to pack (corporate) Electron app I was working at natively, depending on OS, to ZIP/DMG: https://github.com/annexare/PackDir

[2017-03-15 09:28] sindresorhus commented on #432
I like the idea of making it easier to get started, but I'm not sold on this approach. The tool seems to be very immature, so it's too early to judge it too much. It will definitely conflict with framework specific CLIs. It's also IMHO too opinionated.

There is already a great solution for easily building Electron apps -> [`electron-builder`](https://github.com/electron-userland/electron-builder)

[2017-03-15 09:28] #432 closed

[2017-03-15 09:37] develar commented on #432
Yes. electron-builder handles a lot of aspects and electron-forge as a tool to build is a far away in terms of quality / feature set. electron-builder will be able to pack electron-compile projects soon (or just use babel, see https://github.com/electron-userland/electron-builder/issues/807).

related: https://github.com/electron-userland/electron-builder/issues/1193

[2017-03-15 10:32] MarshallOfSound commented on #432
I left this issue untouched as I wanted to see what the thoughts were without getting involved too much 👍   That being said, I always want to make `electron-forge` better so this feedback is pretty good.

We expose all of our methods/actions as JS API to make it super easy for framework specific CLI's to integrate Electron related tooling into their workflow.  For instance `electron-forge` is curr

[2017-03-15 10:38] develar commented on #432
This task in progress. But packaging (and publishing, auto-update files) will be still not performed by electron-builder. i.e. when electron-builder targets will be available for electron-forge, way "use `build` to build electron-forge app" will be still recommended and will produce better results for user than electron-forge make.

[2017-03-15 10:41] MarshallOfSound commented on #432
@develar Yeah, informing the user that `electron-builder` isn't doing the packaging makes sense 👍

As for the publishing, forge allows for custom publish modules as well, so your publishers could technically be exposed in a forge compatible way as well 🤔

Still keen to get this integration going though so the two module seem less like competitors and more like buddies 😆

[2017-03-17 18:22] whphhg commented on #378
Hey!

I've been working on a multi-platform UI for Vcash, a decentralized currency for the internet. The UI is built using `react` and `antd` components, has state being kept by `mobx`, is translated using `i18next` and has charts made using `recharts`.

Data displayed in the UI is obtained (by RPC) from vcashd which at the moment has to be manually compiled since the project website has been unre

[2017-03-23 12:08] jjkavalam commented on #94
@rkpatel33 When considering a PDF reader please include a good full text search function. The current search function on most PDF readers hardly match the powerful search functions we see on the web and elsewhere.

[2017-04-02 18:36] GeoffZhu commented on #378
Hi, I am making an automation tool for capture web page. Electron is a good choice for me, BrowserWindow already have the function [capturePage](https://github.com/electron/electron/blob/master/docs/api/browser-window.md#wincapturepagerect-callback). It's useful, but I need an api for capture full web page. So I make this.
[https://github.com/GeoffZhu/electron-capture](https://github.com/GeoffZhu/

[2017-04-10 03:25] alcat2008 commented on #378
[https://github.com/alcat2008/electron-react-starter](https://github.com/alcat2008/electron-react-starter)

Boilerplate to start electron project with a bunch of awesome react technologies.

[2017-04-13 19:11] joubertredrat opened #445 "Add KongDash"
https://github.com/ajaysreedhar/kongdash

[2017-04-16 10:03] sindresorhus commented on #445
Doesn't seem very actively maintained.

[2017-04-16 10:03] #445 closed

[2017-04-17 19:51] philfreo commented on #5
Here's a starting point for someone to implement find on page search: https://github.com/edulan/electron-search-example. Though I'd still like to see one that is closer to Chrome's UI.

[2017-05-11 12:53] KSXGitHub commented on #378
Not my project, but I find this awesome
https://github.com/linux-man/unreel

![Screenshot](https://cloud.githubusercontent.com/assets/11488886/25949932/71f526ca-3683-11e7-8e24-911990037792.png)

[2017-05-29 13:13] anubhavsrivastava opened #456 "Removed Deprecated apps"
We can remove deprecated apps for eg Anatine.

[2017-05-30 05:30] RobertGavick commented on #378
This is a great project built on Electron: Publii - Static Website CMS https://getpublii.com/

[2017-05-30 17:58] roman0x58 commented on #378
Hi. If you are using Jenkins CI tool, you can try a tiny desktop client for build your Jenkins automation job's - https://github.com/roman0x58/jenia. That's all.

[2017-06-01 18:31] sindresorhus commented on #456
Yes. Any other apps?

[2017-06-03 05:36] anubhavsrivastava commented on #456
I will go through the entire list once.

[2017-06-11 17:26] anubhavsrivastava commented on #456
Following are also deprecated.
soundcast - https://github.com/andresgottlieb/soundcast
cuttle - https://github.com/oakmac/cuttle

[2017-06-16 22:16] #456 closed

[2017-06-16 22:17] sindresorhus commented on #456
Nah, not worth the work it takes to do the work and keep it updated.

[2017-06-29 23:05] stvowi opened #466 "AKASHA"
I miss [AKASHA](https://akasha.world/) in the list.

[2017-06-29 23:33] sindresorhus commented on #466
Do a pull request if it fits the requirements: https://github.com/sindresorhus/awesome-electron/blob/master/contributing.md

[2017-06-29 23:33] #466 closed

[2017-07-06 16:54] DakshMiglani commented on #378
Hi There,

Building on linux can be kind of a mess because you've to build installers for both Redhat and Debian, Well I built a module that does the work for you. Here it goes - https://github.com/DakshMiglani/electron-linux-installer

Best,
Daksh

[2017-08-07 13:19] LucaT1 commented on #378
I'm working on creating a terminal emulator alternative to Hyper. Here's a screenshot:

![screen shot 2017-08-07 at 15 14 57](https://user-images.githubusercontent.com/29304787/29028018-3ffcc89a-7b83-11e7-9904-f026f29bc7c4.png)

**Advantages?**
- Using xtermjs which solves lots of problems with emojis, Unicode and CJK charters
- Using mobx instead of redux which makes developing plugins and extend

[2017-08-14 22:13] rwynn commented on #378
Hi, I'm working on a password manager called llave.  Would appreciate any feedback.  Thanks!

<img height="300" width="400" src="https://raw.github.com/rwynn/llave/master/screens/entries.png"/>

https://github.com/rwynn/llave

[2017-08-23 17:56] trazyn commented on #378
HI, i'm creating a unofficial weChat client, here is a screenshot
![preview](https://raw.githubusercontent.com/trazyn/weweChat/master/screenshots/1.png)

[https://github.com/trazyn/weweChat](https://github.com/trazyn/weweChat)

Thanks for the attention ❤️

[2017-08-30 06:16] monkeysuffrage opened #479 "Nightmare"
Isn't an alternative to phantomjs as much as it is an add-on for it.

[2017-08-30 08:15] sindresorhus commented on #479
Nightmare doesn't even use PhantomJS. It is an alternative in some use-cases.

Please, next time use a more descriptive issue title and better issue text.

[2017-08-30 08:15] #479 closed

[2017-09-26 13:58] therealstan opened #482 "electron-prebuilt is a retired project"
Retired or not maintained projects should be probably in deprecated section or removed.

[2017-09-28 07:38] #482 closed

[2017-09-29 05:20] hackjutsu commented on #378
Hey, here is our project [Lepton](https://github.com/hackjutsu/Lepton).
It's a cross-platform snippet manager backed by GitHub Gist, and built on Electron.

![app](https://user-images.githubusercontent.com/7756581/31001797-3f3ad334-a49b-11e7-8100-f2ce8e5c9a1b.png)

[2017-10-25 21:02] ezekg commented on #378
I have a software licensing and distribution SaaS that I thought may be useful to people who come across this list that are developing a paid Electron app. Is it appropriate for me to ask for [Keygen](https://keygen.sh) to be included in the tooling section? I'm not sure how everybody feels about adding paid services to the list, but I originally built the service for Electron developers (myself i

[2017-11-05 12:11] adrienjoly opened #494 "How to make a static web page that suggests the right Electron build to download based on visitor's operating system?"
What I'd like to do:

- put that static landing page (html + css + js files) in my Github repo's `/docs` folder, so that it's published online by Github-pages (I don't want to use a server-side script for that)
- when a visitor browses that page, a piece of javascript code detects the OS from their user-agent string and displays a big button to download the corresponding Electron build from the la

[2017-11-05 12:20] adrienjoly commented on #494
Wordpress Desktop [seems to do it](view-source:https://apps.wordpress.com/desktop/):

[code]

[2017-11-05 12:20] MarshallOfSound commented on #494
You can do this, but ensure that you have a "Need another platform?" button as well in case the detection doesn't work or people are faking their user agents.

The basic strategy is just to sniff out the OS from `navigator.userAgent`.

See https://stackoverflow.com/questions/9514179/how-to-find-the-operating-system-version-using-javascript

[2017-11-05 12:23] adrienjoly commented on #494
Thanks @MarshallOfSound, I totally agree! And thanks for the link.

Do you think that I can safely use the `navigator.platform` property to decide between suggesting the `win32` or `win64` build?

[2017-11-13 19:17] FabioLolix commented on #88
In Apps/Open Source what is the difference between featured and other?

[2017-11-29 17:48] GroomedGorilla opened #498 "Nylas N1 has been forked over to Mailspring"
Hi there, great comprehensive list you've put together there!

Just thought I'd point out that the original devs behind Nylas N1 have ported it over to a new project called Mailspring, which is also using Electron.

[2017-12-03 10:49] #498 closed

[2017-12-14 22:16] IrosTheBeggar commented on #378
I've built mStream using Electron.  [mStream](https://github.com/IrosTheBeggar/mStream) is a fully featured music streaming server anyone can get running at home.

See a demo of the webapp frontend here: https://darncoyotes.mstream.io/

[2017-12-24 16:50] FabioLolix opened #505 "Add license for open source programs"
I think it is a nice addition, in the style of this https://github.com/Kickball/awesome-selfhosted

I'm voluntering for doing it, of course

[2017-12-25 13:48] sindresorhus commented on #505
Nah, too much noise. The point of the open source apps is too learn from them. The license doesn't really matter.

[2017-12-25 13:48] #505 closed

[2017-12-25 19:18] FabioLolix commented on #505
Ok

[2018-01-05 08:34] Roobyx opened #510 "Remove Pixate from list"
The Pixate app has been deprecated for a while now (since 31 October 2016) The team behind it are not supporting it anymore and the site is just a message.
http://www.pixate.com/

[2018-01-05 12:26] #510 closed

[2018-02-11 15:31] nacimgoura opened #519 "wagonhq url is invalid"
Hello, I just noticed that the Wagonhq URL does not work, replacing https by http seems to work.

[2018-02-11 15:35] #519 closed

[2018-02-25 17:03] mrgodhani commented on #378
I'ave built Uber Run using Electron + Google Puppeteer. It solves a problem of getting invoices from Uber's dashboard. This is one of problem I found that currently in Uber you have to go one by one and download invoices if you want to expense it during tax season. Their business profile is same and also no use as they only give invoices monthly with cluttered filenames. This app would neatly orga

[2018-03-25 20:34] teuunn commented on #494
Maybe you have found a solution for this already, but for others came here via Google: it looks like https://release.work can handle this thing as well.

[2018-03-25 20:57] adrienjoly commented on #494
Thanks for sharing this!

[2018-03-27 02:39] eNkru commented on #378
I am building a music dekstop application based on Xiami online music.

https://github.com/eNkru/electron-xiami

![mini_mode](https://user-images.githubusercontent.com/13460738/35371056-af3971be-01f6-11e8-8a57-8a8c4b728432.png)

let me know if you have any idea or suggestions. Bug reports are always welcomed :+1:

[2018-03-27 02:43] eNkru commented on #378
Also I'm building the outlook.com desktop client can be minimized to tray with new email notifications.

https://github.com/eNkru/electron-outlook

Please leave any comments directly to the Issues section in the Github page.

![screenshot_linux](https://user-images.githubusercontent.com/13460738/35953459-a0875872-0ce9-11e8-9bca-880564b9beee.png)

[2018-05-18 16:58] jMavarez commented on #378
Hi I'm build a Fenêtre-like app with support for Windows, basically trying to bring the Picture-in-Picture experience to desktop. Any feedback it's appreciated.

Thanks in advance!

Tana: https://github.com/jMavarez/Tana

[2018-06-01 19:36] novddd opened #538 "Awesomeness Check for Ao Electron App"
Hey @sindresorhus ! Saw this electron app shared on Twitter by Ubuntu: https://twitter.com/ubuntu/status/996773537770860544
It's called Ao, and it is a client for Microsoft's Wunderlist successor, here is the link to the repo: https://github.com/klauscfhq/ao
Love your awesome list! Happy to contribute in any way!

[2018-07-28 16:20] sindresorhus commented on #538
Closing in favor of #542

[2018-07-28 16:20] #538 closed

[2018-08-12 03:37] chinanf-boy opened #546 "Could Add the Chinese link ❓"
## Share the useful awesome list with electron by My Language

https://github.com/chinanf-boy/awesome-electron-zh

[2018-08-12 13:08] sindresorhus commented on #546
I don't really see the point. You would have to know English or use Google Translate to use these projects anyway.

[2018-08-13 07:00] chinanf-boy commented on #546
O:-O

[2018-08-13 07:00] #546 closed

[2018-08-20 09:08] Mikerr1111 opened #547 "Add Trello desktop app"
Trello desktop(unofficial): https://github.com/danielchatfield/trello-desktop

[2018-08-20 09:44] sindresorhus commented on #547
Thanks for the suggestion, but it looks like it's not maintained. Last commit was more than a year ago.

[2018-08-20 09:44] #547 closed

[2018-08-22 10:50] ram-you opened #548 "add Trilogy"
Hi,
please consider adding **Trilogy**:

https://github.com/citycide/trilogy

@citycide

[2018-08-26 09:41] sindresorhus commented on #548
Looks useful! Do a PR to add it and follow the contribution guidelines ;)

[2018-08-26 09:41] #548 closed

[2018-08-26 13:59] ram-you commented on #548
@citycide

[2018-08-31 22:41] moonlit7seas opened #549 "Gihub慢的要死？"
https://www.anydoor.space/register  用这个好了
1. 自由访问全球网站， google 超高速搜索，流畅观看 youtube 1080p～4K 视频，流畅代理Telegram

2. 各种福利网站加速， 91， tumblr 视频加速专用节点，解决卡顿

3. Windows，Mac，Android，IOS, TV 全平台支持

4. 支持多账号同时登陆，可以共享给家人朋友

5. 7天无理由退款

[2018-09-14 17:39] jenstornell commented on #5
Is there anything around a collapable file tree sidebar to start with? Similar to Windows and Mac file tree.

[2018-10-01 20:32] AndersonMamede commented on #378
I've built a customizable determinate/indeterminate progressbar component for Electron applications:
[electron-progressbar](https://github.com/AndersonMamede/electron-progressbar)

Demo: <br/>
![Indeterminate progress bar](https://raw.githubusercontent.com/AndersonMamede/electron-progressbar/master/examples/indeterminate-progress-bar.gif)

![Determinate progress bar](https://raw.githubusercontent.

[2019-01-21 20:09] CritFlaw commented on #88
Is there a discord server for electron? For obvious reasons, trying to search for one on Google isn't useful.

[2019-01-26 12:13] tessus opened #573 "share menu extension for macOS?"
I'm wondering how to generate a share menu extension to share stuff with an Electron application.
Is this exclusively a macOS thing or are there any tools to make this happen?

[2019-01-26 12:16] sindresorhus commented on #573
https://discuss.atom.io/c/electron is a better place to ask questions like that :)

[2019-01-26 12:16] #573 closed

[2019-01-26 12:19] tessus commented on #573
Thanks for the info, but what has a user forum for an editor to do with share menu extensions?

[2019-01-30 12:54] Hiran91 commented on #238
@imlucas  What is the best tool/framework to automate GUI on Visual Studio Code (VS Code)? Can you recommend good one?

[2019-02-15 06:53] SeynalKim commented on #94
this is what I need right now...

[2019-02-15 09:07] zayuim opened #577 "Is Brave still Electron-based?"
I heard in an interview with a Brave dev (on [The Changelog](https://changelog.com/podcast/323)) that Brave is going to rebase itself on a Chromuim fork as opposed to being an electron app.

Can anyone confirm that is is what has happened and if so, remove it from this list?

[2019-02-18 08:25] saikksub commented on #378
We built an File Explorer for Azure and AWS Databricks using Electron.js and Vue.js.

Repository:
[DBFS-Explorer](https://github.com/DataThirstLtd/DBFS-Explorer)

Releases: https://github.com/DataThirstLtd/DBFS-Explorer/releases

![dxxhamexqaamawf 2019-02-18 13_54_11](https://user-images.githubusercontent.com/35134207/52937272-b1036480-3384-11e9-9513-f8054002afc5.gif)

Your feedback is much apprec

[2019-03-15 17:31] #577 closed

[2019-04-01 08:51] xudaolong commented on #378
Hi! I'm currently working on CodeExpander.

`CodeExpander` is a smart feature with TextExpander and embraces the GitHub Gist client. It saves and manages text or script segments that require repeated input and can be expanded automatically by setting abbreviations.

![](https://github.com/oncework/codeexpander/raw/en/.gitbook/assets/map-main.png)

## **Download**

MacOS 10.14/10.13/10.12/10.11 \(M

[2019-04-01 13:22] TetianaMalva commented on #238
Cypress.

[2019-05-17 05:52] virsam69 commented on #94
https://github.com/sindresorhus/awesome-electron.git    pdf thread

[2019-08-01 01:38] TomerAberbach opened #609 "Franz is open source"
I was reading through the applications on your list and noticed that you have Franz under [Closed Source](https://github.com/sindresorhus/awesome-electron#closed-source). However, Franz is [open source on GitHub under the Apache-2.0 License](https://github.com/meetfranz/franz#license). It should probably be moved over to the open source list.

[2019-08-03 10:50] #609 closed

[2019-08-17 12:38] moda20 commented on #378
KAKU-KODI, a fork from Kaku that I am working on, it Adds local storage navigation in a folder style. it has video file recognition and casting ability as well as local play via a second player. it is still WIP
But please check it out.
![Screen Shot 2019-08-17 at 13 36 06](https://user-images.githubusercontent.com/23613485/63211822-55782080-c0f4-11e9-8142-b957c4f590b5.png)
![Screen Shot 2019-08-17

[2019-08-21 20:01] skoulix commented on #378
A small helper app for Shopify users. It helps connect to a store, get all themes and select the ones you would like to download via a simple and intuitive interface. May come handy to some of you.

https://github.com/hulk-apps/shopify-theme-downloader

[2019-08-23 11:24] sindresorhus opened #612 "Who is hiring?"
This issue is for companies looking for people with Electron experience. Both permanent positions and contract work welcome.

#### Companies

Please state the job location and include the keywords REMOTE, INTERNS and/or VISA when the corresponding sort of candidate is welcome. When remote work is not an option, include ONSITE. Don't forget to include contact information. Be succinct.

Please only

[2019-08-23 11:28] sindresorhus opened #613 "Who wants to be hired?"
This issue is for developers (individuals) looking for Electron-related work.

#### Developers

Share your information. Be succinct.

Please use this format:
- Location:
- Remote:
- Willing to relocate:
- Résumé/CV:
- Email:
- About me:

#### Companies

Please only email these addresses to discuss work opportunities regarding Electron development. No spam or recruiters!

---

Subscribe to this iss

[2019-08-23 11:51] neggi commented on #613
Hello, we work intensively on electron contact me for more details.
email: surajnegi@outlook.in
thanks

[2019-08-25 09:16] linuxjuggler commented on #613
Hey My name is Zaher, and these are my information:

- **Location**: Currently living in Istanbul, Turkey
- **Remote**: Yes
- **Willing to relocate**: Yes
- **Résumé/CV**: https://zah.me/assets/uploads/static/CV.pdf
- **Email**: zaher[at]zah.me
- **About me**: I have been working as a backend developer using PHP for a long time, so most of my works are using anything related to PHP. My knowledge o

[2019-08-26 13:00] Lax commented on #613
Hi, I'm Liu Lantao looking for a remote work or freelancer opportunities.

* Location: Shanghai, China
* Remote: Yes
* Willing to relocate: Yes
* Résumé/CV: https://about.liulantao.com/en/resume/compact/
* Email: liulantao(~at~)gmail.com
* About me: I worked as DevOps engineer since 2009. Before I quit my daily job and join a startup at 2017, I have worked on several companies include SNS website

[2019-08-26 16:23] natasass commented on #612
Hi all, I'm Natalie from [Overflow](www.overflow.io)

We have an opening for **contract** work on the Electron side of the Overflow app. This is a **REMOTE** position, preferably in European or Asian timezones.

**Overflow** is a desktop app which allows designers to create interactive user flow diagrams straight from their designs. Currently, we have integrations with the 3 most popular design to

[2019-08-28 11:44] emilbayes commented on #612
Hi, I'm Emil and partner at @hyperdivision

At Hyperdivision we work with peer to peer technology and cryptography, to turn cutting-edge research into user friendly products. We're currently developing Heimdall, a collaboration tool for banks, exchanges and other high-security users. We need help with further developing the desktop application and integrate more of our research into product form.

[2019-08-31 22:23] jprichardson commented on #612
**Who**

Hi, I'm JP, CEO of [Exodus](https://www.exodus.io).

**What**

Exodus is a desktop app built on Electron to secure, manage, and trade a portfolio of cryptocurrencies. We also have a React Native mobile app: https://www.exodus.io/mobile

We have close to 4 million downloads and are growing fast. We'd love to have an engineer join our **REMOTE**-only team to improve our usage of Electron an

[2019-09-03 12:19] mane87 commented on #612
Hi all, I'm Manuel, CTO of [Timeular](http://www.timeular.com).

Timeular is a unique combination of hardware and software that helps you to **track**, **understand** and **improve** how you work.

You can check out our software [here](https://timeular.com/download/) and have a look at our open source work [here](https://github.com/timeular).

We are a **fully remote team** of 16 people working fr

[2019-09-23 13:41] maxatwork commented on #378
Hi, thanks for maintaining this list. I just created simple Svelte+Electron+Storybook application boilerplate. Probably can save an hour or two to someone.

Link to the repo: https://github.com/maxatwork/svelte-electron-template

[2019-12-08 23:37] szTheory commented on #378
I made a free Electron app for cleaning exif metadata from images. I hope that someone finds it useful. https://exifcleaner.com/

[2019-12-31 03:15] bennyben112 commented on #88
#626 #625

[2019-12-31 03:16] bennyben112 commented on #88
We are the hit of our own interrest
Chillcore emotions amsterdam. B. V.

[2019-12-31 19:40] kashaiahyah85 commented on #88
I've been having a genuinely good time helping out with what I can at @thamara's https://github.com/thamara/time-to-leave

[2020-02-27 19:54] gromovadarya90 opened #642 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:03] renata2216 opened #643 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:24] renata7738 opened #644 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 05:36] helen798 opened #647 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-03-01 16:53] 70m43 commented on #94
https://github.com/agentcooper/react-pdf-highlighter

[2020-06-27 18:31] p32929 commented on #378
Good morning everyone. I created a Pomodoro app using ElectronJS that forces you to take a break: https://github.com/p32929/PotatoTimer/

[2020-06-27 19:20] xxczaki commented on #378
Parsify Desktop - Extendable calculator for the 21st Century, inspired by apps like Numi and Soulver.

👍 Supports math expressions, unit & currency conversion, custom units, plugins and more!

The app is free, but you can purchase a license to support further development and unlock more features.

I'm currently working on a mobile app and a cloud, which would enable synchronization.

Website: http

[2020-08-09 12:34] undergroundwires commented on #378
**privacy.sexy** — 🔐 Enforce privacy & security best-practices on Windows

![](https://raw.githubusercontent.com/undergroundwires/privacy.sexy/master/img/app.png)

✔️ Rich tweak pool to harden security & privacy of the OS and other softwares on it.
✔️ You don't need to run any compiled software on your system, just run the generated scripts.
✔️ Have full visibility into what the tweaks do as you e

[2020-08-10 01:45] papb commented on #378
Hi @undergroundwires, your GitHub link is broken, you meant https://github.com/undergroundwires/privacy.sexy right?

Also, looks awesome!!

[2020-10-06 02:22] dat-adi opened #666 "Broken link"
In the [Articles](https://github.com/sindresorhus/awesome-electron#articles) of awesome-electron, the fifth list item, **How To Make Your Electron App Sexy**,  redirects to a page that seems to no longer be available.
He doesn't seem to have the articles up on medium or any other blog site, so, the redirect's link cannot be changed.

[2020-10-07 14:14] #666 closed

[2020-10-19 10:21] spekulatius opened #669 "Ghost Desktop gone?"
Looks like Ghost Desktop is gone. Not sure what the state is.

[2020-10-19 19:07] sindresorhus commented on #669
https://forum.ghost.org/t/has-the-ghost-native-app-for-desktop-disappeared/16990/4

[2020-10-19 19:08] #669 closed

[2020-11-14 01:29] shash7 commented on #378
Would like to share my app too. Its a reminders app for Windows using Electron and Vue:
[https://pulltherope.app](https://pulltherope.app)

Should I send a pull request or something else?

[2020-12-10 14:45] #238 closed

[2020-12-10 14:46] #94 closed

[2020-12-10 14:46] #613 closed

[2020-12-10 14:47] #612 closed

[2020-12-10 14:47] #494 closed

[2020-12-10 14:49] #378 closed

[2020-12-10 14:50] #95 closed

[2020-12-10 14:50] #5 closed

[2020-12-10 14:51] #88 closed

[2020-12-10 14:55] sindresorhus opened #675 "Discussions"
I have enabled the [Discussions feature](https://github.blog/2020-05-06-new-from-satellite-2020-github-codespaces-github-discussions-securing-code-in-private-repositories-and-more/). It would be a good place to ask Electron related questions, show off your prototypes, get feedback on your projects, etc. **Please be kind and constructive.**

This issue can be used for discussing adding new categori

[2021-01-12 10:55] brltdxd opened #680 "[Question] Disabling CORS"
Hi,

I am planning on creating a desktop app with Vue and Electron. This is some kind of a monitoring application that frequently pulls data from an external API. Naturally, when fetching the data using Axios, I am getting blocked by CORS. I know that disabling the __`webSecurity`__ is not ideal but this is the only way I can successfully pull the data.

I am sending the credentials on each reques

[2021-06-24 11:32] #680 closed

[2021-06-24 11:32] #675 closed

[2022-03-23 14:13] raghavyuva opened #710 "Add LucaMail"
https://github.com/raghavyuva/LucaMail

[2022-09-03 03:04] REALITY4444 opened #717 "<Block>"